
.focus1 {
    border: 1px solid red;
}

.focus2 {
    border: 1px dashed green;
    background-color: blue;
}

.messageHolder {
    margin-top: 5px;
}

.messageHolder:last-of-type {
    background-color: beige;
}

.parent-container {
    overflow-y: scroll;
}

#editorScreen { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }